<!DOCTYPE html>
<html data-bs-theme="dark">
<head>
    <title>Авторизация</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="container">
<form action="/" method="post">
<div class="row g-3 mb-5 flex-column align-items-center">
	<div class="col-md-12">
    <h1 class="my-heading mt-5 text-center text-info-emphasis opacity-75">Авторизация</h1>
    <h6 class="my-heading text-center">Данный сайт требует специальный ключ для входа. Если у вас его нет, идите лесом.</h6>
    <h6 class="my-heading mb-5 text-center text-danger">{{error}}</h6>
   </div>
    <div class="butwid">
        <div class="form-floating mb-3">
              <input type="password" class="form-control" name="pass" id="pass" />
              <label for="pass">Пароль</label>
        </div>
        <div class="form-check">
        <input type="checkbox" class="form-check-input" id="passCheck" onclick="PassShow()">
        <label class="form-check-label" for="passCheck">Показать пароль</label>
        </div>
    </div>
    <input type="submit" value="Войти" class="btn btn-primary butwid">
</div>
</form>
</div>
</body>
<script>
function PassShow() {
let passNode = document.getElementById("pass");
  if (passNode.type === "password") {
    passNode.type = "text";
  } else {
    passNode.type = "password";
  }
}  
</script>
<style>
.butwid{
  width: 50%;
}
@media screen and (max-width: 1000px) {
.butwid{
  width: 100%;
}
}
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>

